

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}
html, body{
    height: 100%;
    width: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*My code */

.main-wrapper{
    margin: 0 auto;
    width: 1000px;
}

a{
    text-decoration: none;
}

body{
    background-color: #F4F6F6;
}


header nav{
    
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, #cc0099 0%, #660066 100%);

}

header nav ul{
    float: left;
    padding-left: 2px;
}
header nav ul li{
    float: left;
    list-style: none;
}
header nav ul li a{
    font-family: arial;
    font-size:16px;
    color: #111;
    line-height:63px;
}

header .nav-login{
    float: right;
}

header .nav-login form{
    float: left;
    padding-top: 15px;
}

header .nav-login form input{
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border:none;
    background-color: #ccc;
    font-family: arial;
    font-size:14px;
    color: #111;
    line-height: 30px;
}

header .nav-login form button{
    float: left;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border:none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size:14px;
    color: #111;
    cursor: pointer;
}

header .nav-login form button:hover{
   background-color: green; 
   opacity: 2;
}

header .nav-login a{
    display: block;
    width:60px;
    height: 60px;
    border:none;
    float: left;
    background-color: #EC7063;
    font-family: arial;
    font-size:16px;
    color: #111;
    line-height:63px;
    cursor: pointer;
}

/*signup.php*/

.signup-form{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input{
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border:none;
    background-color: #fff;
    font-family: arial;
    font-size:16px;
    color: #111;
    line-height: 40px;
}

.signup-form button{
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border:none;
    background-color: #222;
    font-family: arial;
    font-size:16px;
    color: #fff;
    cursor: pointer;
}

.signup-form button:hover{
    background-color: green;
}
.main-warpper a img{
	margin: left
}

.userinfo{
    
}

.admin_info img{
    float:right;
    padding-right: 7px; 

}

.admin_info a{
    text-decoration: none;
    font-family: arial;
    color: white; 
    padding-left: 10px;
    
}


/*home page*/

.home-body{
    width: 100%;
    height: 100%;
    background: url(img/background4.jpg) center no-repeat;
    font-family: Arial;
}

.menu_bar{
    background-color: black;    
    line-height:20px;


}
.menu_bar ul{
    margin:0px;
    padding:0px;
    list-style: none;
    color: white;
}
.list li{
    float:left;
    width: 150px;
    height: 30px;
    padding: 15px 0;
    background-color: black;
    opacity:.8;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    margin-right:4px;
}
.list li a{
    text-decoration:none;
    color:white;
    display:block;

}
.list li a:hover{
    background: linear-gradient(to top, #cc0099 0%, #660066 100%);
}
.list li ul li {
    display:none;
}
.list li:hover ul li{
    display: block;
}


#h1-home{
    color: #C0392B;
    font-size: 50px;
    margin:center;

    
}

footer{
    width: 100%;
    height: 5%;
    background: linear-gradient(to top, #cc0099 0%, #660066 100%);
    position: fixed;
    bottom: 0;
}
 

/*Admin Panel */

.admin-menu{

    padding-top: 40px;
    padding-left: 400px;
}


/*Product Show*/

.products-show{
    width: 100%;
    height: 100%;
    background-color: #F5EAF9;
    margin: 0 auto;
    
}
.products-show td{
   text-align: center;
    
}

.column {
  float: left;
  width: 20%;
  
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

